<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/vars.css">
  <link rel="stylesheet" href="../styles/style-users.css">
  
  <title>Gerenciar Usuários</title>

</head>
<body>
  <div class="gerenciar-users">
    <div class="top-bar">
      <div class="title">Caminho da Memória</div>
      <div class="navigation">
        <div class="tab">Memórias</div>
        <div class="tab2">Exercícios</div>
      </div>
      <div class="navigation2">
        <div class="tab1">Contato</div>
      </div>
      <div class="tab3">Registrar-se/Entrar</div>
      <div class="tab4">Gerenciamento</div>
    </div>
    <img class="logoo-removebg-preview-3" src="../imgs/logoo-removebg-preview-30.png" />
    <div class="section">
      <div class="container">
        <div class="title2"id="texto">Bem-vindo ao Gerenciamento de Usuários</div>
        <div class="description">
          Administre cuidadores e familiares de forma eficiente no sistema.
        </div>
      </div>
      <img class="vector-200" src="../vectors/vector-2000.svg" />
    </div>
    <div class="section2">
      <img
        class="download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-1"
        src="../imgs/download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-10.png"
      />
      <div class="avatar"></div>
      <div class="container2">
        <div class="title3">Nome do Usuário</div>
        <div class="selection">
        </div>
        <div class="description2">
          Gerencie perfis e mantenha informações atualizadas.
        </div>
      </div>
      <div class="button">
        <div class="primary">
          <div class="title4">Editar Usuários</div>
        </div>
        <div class="seconday">
          <div class="title5">Adicionar Usuários</div>
        </div>
        <div class="primary">
          <div class="title4">Editar Perfil</div>
        </div>
      </div>
      <img class="vector-2002" src="../vectors/vector-2001.svg" />
    </div>
    <div class="list">
      <div class="container3">
        <div class="primary2">
          <div class="title6">Visualizar</div>
        </div>
        <div class="title7">Lista de Usuários</div>
        <div class="description3">
          Visualize todos os registros cadastrados no sistema.
        </div>
      </div>
      <div class="list2">
        <div class="row">
          <div class="item">
            <div class="frame">
              <div class="icon">😀</div>
            </div>
            <div class="frame-427318906">
              <div class="title8">Cuidador 1</div>
              <div class="subtitle">Cuidando de João</div>
            </div>
            <div class="subtitle2">11/05/2021</div>
          </div>
          <div class="item">
            <div class="frame">
              <div class="icon">😊</div>
            </div>
            <div class="frame-427318906">
              <div class="title8">Familiar 2</div>
              <div class="subtitle">Parente de Maria</div>
            </div>
            <div class="subtitle2">21/06/2021</div>
          </div>
        </div>
      </div>
      <img class="vector-2003" src="../vectors/vector-2002.svg" />
    </div>
    <div class="form">
      <div class="container4">
        <div class="title21">Adicionar Usuário</div>
      </div>
      <div class="list3">
        <div class="row2">
          <div class="input">
            <div class="title9">Nome</div>
            <div class="textfield">
              <div class="text">Digite o nome</div>
            </div>
          </div>
          <div class="input">
            <div class="title9">E-mail</div>
            <div class="textfield">
              <div class="text">Digite o e-mail</div>
            </div>
          </div>
        </div>
        <div class="row2">
          <div class="input">
            <div class="title9">Telefone</div>
            <div class="textfield">
              <div class="text">Digite o telefone</div>
            </div>
          </div>
          <div class="selection2">
            <div class="title9">Relação</div>
            <div class="chip-group">
              <div class="chip">
                <div class="text2">Familiar</div>
                <div class="amigo">Amigo</div>
              </div>
              <div class="chip2">
                <div class="text3">Cuidador</div>
              </div>
            </div>
          </div>
        </div>
        <div class="button2">
          <div class="seconday2">
            <div class="title5">Cancelar</div>
          </div>
          <div class="primary3">
            <div class="title4">Salvar Alterações</div>
          </div>
        </div>
      </div>
      <img class="vector-2004" src="../vectors/vector-2003.svg" />
    </div>
    <div class="section3">
      <img class="image-6" src="../imgs/image-60 copy 2.png" />
      <div class="container5">
        <div class="title10">Copyright © 2024 Gerenciamento de Usuários</div>
        <div class="title11">Termos de Uso</div>
        <div class="title12">Política de Privacidade</div>
      </div>
    </div>
  </div>
    <script src="script.js"></script>
  
</body>

</html>

