/* Exercicio pagina */
a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;
    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.gerenciar-exercicios,
.gerenciar-exercicios * {
  box-sizing: border-box;
  
}
.gerenciar-exercicios {
  background: #ffffff;
  height: 1851px;
  position: relative;
  overflow: hidden;
}

.title {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: absolute;
  left: 10%;
  top: 57%;
  width: 370px;
}
.title a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.title:hover a {
  color: #1A8494; /* Cor do texto do link ao passar o mouse sobre a div */
}

.tab {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 59%;
  top: 60%;
  z-index: 5; /* Ajuste conforme necessário */
}
.tab a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.tab:hover a {
color: #1A8494; /* Cor do texto do link ao passar o mouse sobre a div */
}

.navigation {
  background: #ffffff;
  width: 62px;
  height: 24px;
  position: absolute;
  left: 59%;
  top: 60%;
}
.top-bar {
  background: #ffffff;
  padding: 20px;
  height: 80px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0%;
  overflow: hidden;
}
.tab2 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 300%;
  top: 4%;
  z-index: 5; /* Ajuste conforme necessário */
}
.tab2 a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.tab2:hover a {
  color: #1A8494; /* Cor do texto do link ao passar o mouse sobre a div */
}

.tab3 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 74%;
  top: 63%;
}
.tab3 a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.tab3:hover a {
  color: #1A8494; /* Cor do texto do link ao passar o mouse sobre a div */
}
.navigation2 {
  background: #ffffff;
  width: 185px;
  height: 24px;
  position: absolute;
  left: 1258px;
  top: 53px;
}
.tab4 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 230%;
  top: 4%;
}
.tab4 a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.tab4:hover a {
  color: #1A8494; /* Cor do texto do link ao passar o mouse sobre a div */
}
.tab5 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 310%;
  top: 4%;
}
.tab5 a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.tab5:hover a {
  color: #1A8494; /* Cor do texto do link ao passar o mouse sobre a div */
}
.logoo-removebg-preview-3 {
  width: 155px;
  height: 92px;
  position: absolute;
  left: 55px;
  top: 10px;
  object-fit: cover;
}
.section {
  background: rgba(26, 132, 148, 0.6);
  padding: 60px 170px 60px 170px;
  width: 100%;
  height: 286px;
  position: absolute;
  left: 0px;
  top: 6%;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 1100px;
  height: 144px;
  position: absolute;
  left: 25%;
  top: 19%;
}
.title2 {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  width: 622px;
  
}
.title2.fade-out {
  animation: fade-out 1s forwards; /* Animação de desvanecimento */
}

.title2.fade-in {
  animation: fade-in 1s forwards; /* Animação de reaparecimento */
}


.title12 a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.title12:hover a {
  color: #ffffff; /* Cor do texto do link ao passar o mouse sobre a div */
}
.description {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: 520px;
  white-space: nowrap;
}
.vector-200 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.section2 {
  padding: 60px 170px 60px 170px;
  width: 1440px;
  height: 339px;
  position: absolute;
  left: 5%;
  top: 26%;
  overflow: hidden;
}
.download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-1 {
  width: 111px;
  height: 114px;
  position: absolute;
  left: 359px;
  top: 112px;
  object-fit: cover;
}
.download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-2 {
  width: 111px;
  height: 114px;
  position: absolute;
  left: 359px;
  top: 112px;
  object-fit: cover;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 566px;
  height: 100px;
  position: absolute;
  left: 504px;
  top: 119.5px;
}
.title3 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.description2 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.button {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1110px;
  top: 85.5px;
  overflow: hidden;
}
.primary {
  background: #000000;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 180px;
  position: relative;
}
.title4 {
  color: #ffffff;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
}
.seconday {
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 180px;
  position: relative;
}
.title5 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
}
.vector-2002 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.avatar {
  background: rgba(26, 132, 148, 0.6);
  border-radius: 50px;
  width: 108px;
  height: 104px;
  position: absolute;
  left: calc(25% + 1px); /* 1px a mais que 25% */
  top: 116px;
  overflow: hidden;
}
.list {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 380px;
  position: absolute;
  left: 15%;
  top: 42%;
  overflow: hidden;
}
.container3 {
  flex: 1;
  height: 168px;
  position: relative;
}
.primary2 {
  background: #000000;
  border-radius: 8px;
  padding: 12px;
  width: 160px;
  height: 48px;
  position: absolute;
  left: 76%;
  top: 15px;
}
.title6 {
  color: #ffffff;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 44px;
  top: 12px;
}
.title7 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: absolute;
  left: -12px;
  top: 15px;
  width: 520px;
}
.description3 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: -12px;
  top: 108px;
  width: 520px;
}
.frame-427318907 {
  flex-shrink: 0;
  width: 520px;
  height: 228px;
  position: relative;
}
.list2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 520px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.learning {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
}
.frame-427318906 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title8 {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.subtitle {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.frame {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  position: relative;
}
.vector-2003 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.form {
  padding: 60px 170px 60px 170px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  width: 1440px;
  position: absolute;
  left: 16%;
  top: 1155px;
  overflow: hidden;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title9 {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  position: relative;
  width: 520px;
  white-space: nowrap;
}
.list3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 510px;
  position: relative;
  overflow: hidden;
}
.title10 {
  color: #000000;
  text-align: left;
  font-family: "Merriweather", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.textfield {
  background: #ffffff;
  border-radius: 6px;
  border: none; /* Remove a borda */
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text {
  background: #ffffff;
  border-radius: 6px;
  border-style: solid;
  border-color: #000000; /* Borda preta fina */
  border-width: 1px; /* Espessura fina da borda */
  padding: 12px 16px; /* Espaçamento interno maior para área de digitação */
  width: 100%; /* Faz o input se ajustar ao container pai */
  font-size: 16px; /* Aumenta o tamanho da fonte */
  display: block; /* Remove display flex para inputs */
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.seconday2 {
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.primary3 {
  background: #000000;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 240px;
  position: relative;
}
.vector-2004 {
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.section3 {
  padding: 60px;
  width: 100%;
  height: 192px;
  position: absolute;
  left: 2px;
  top: 1659px;
  overflow: hidden;
}
.section4 {
  background: rgba(26, 132, 148, 0.6);
  padding: 60px 170px 60px 170px;
  width: 100%;
  height: 192px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.vector-2005 {
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.container5 {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: absolute;
  left: 30%;
  top: 46px;
}
.title11 {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 408px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title12 {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.title13 {
  color: #000000;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  width: 203px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.title13 a {
  color: black; /* Cor do texto padrão do link */
  text-decoration: none; /* Remove o sublinhado */
  transition: color 0.3s; /* Transição suave para a mudança de cor do link */
}

.title13:hover a {
  color: #ffffff; /* Cor do texto do link ao passar o mouse sobre a div */
}

@keyframes typing {
  from {
    width: 0; /* Começa com largura 0 */
  }
  to {
    width: 100%; /* Termina com a largura total do texto */
  }
}

@keyframes blink-caret {
  from, to {
    background-color: transparent; /* O cursor fica invisível no início e no fim */
  }
  50% {
    background-color: black; /* O cursor fica visível na metade do tempo */
  }
}

@keyframes fade-out {
  from {
    opacity: 1; /* Totalmente visível */
  }
  to {
    opacity: 0; /* Totalmente invisível */
  }
}

@keyframes fade-in {
  from {
    opacity: 0; /* Totalmente invisível */
  }
  to {
    opacity: 1; /* Totalmente visível */
  }
}

