<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/vars.css">
  <link rel="stylesheet" href="../styles/style-exercicio.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
  <title>Exercícios</title>

</head> 
<body>
  <div class="gerenciar-exercicios">
    <div class="top-bar">
      <div class="title">Caminho da Memória</div>
      <div class="tab">Registrar-se/Entrar</div>
      <div class="navigation">
        <div class="tab2">Perfil</div>
      </div>
      <div class="tab3">Gerenciamento</div>
      <div class="navigation2">
        <div class="tab4">Memórias</div>
        <div class="tab5">Exercícios</div>
      </div>
    </div>
    <img class="logoo-removebg-preview-3" src="../imgs/logoo-removebg-preview-30.png" />
    <div class="section">
      <div class="container">
        <div class="title2">
          Bem-vindo ao Gerenciamento de Exercícios Cognitivos
        </div>
        <div class="description">
          Administre exercícios de forma eficiente no sistema e pratique-os!
        </div>
      </div>
      <img class="vector-200" src="../vectors/vector-2000.svg" />
    </div>
    <div class="section2">
      <img
        class="download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-1"
        src="../imgs/download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-10.png"
      />
      <img
        class="download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-2"
        src="../imgs/download-premium-png-of-account-png-line-icon-user-symbol-by-aew-about-profile-icon-person-icon-png-person-icon-profile-png-and-profile-3012376-20.png"
      />
      <div class="container2">
        <div class="title3">Nome do Usuário</div>
        <div class="description2">
          Gerencie perfis e mantenha informações atualizadas.
        </div>
      </div>
      <div class="button">
        <div class="primary">
          <div class="title4">Editar Exercícios</div>
        </div>
        <div class="seconday">
          <div class="title5">Adicionar Exercícios</div>
        </div>
        <div class="primary">
          <div class="title4">Editar Perfil</div>
        </div>
      </div>
      <img class="vector-2002" src="../vectors/vector-2001.svg" />
      <div class="avatar"></div>
    </div>
    <div class="list">
      <div class="container3">
        <div class="primary2">
          <button class="title6">Visualizar</button>
        </div>
        <div class="title7">Lista de Exercícios</div>
        <div class="description3">
          Visualize todos os exercícios cadastrados vinculado em sua conta.
        </div>
      </div>
      <div class="frame-427318907">
        <div class="list2">
          <div class="row">
            <div class="item">
              <img class="learning" src="../imgs/learning0.png" />
              <div class="frame-427318906">
                <div class="title8">#1 Exercício</div>
              </div>
              <div class="subtitle">11/05/2021</div>
            </div>
            <div class="item">
              <div class="frame"></div>
              <div class="frame-427318906">
                <div class="title8">#2 Exercício</div>
              </div>
              <div class="subtitle">21/06/2021</div>
            </div>
          </div>
        </div>
      </div>
      <img class="vector-2003" src="../vectors/vector-2002.svg" />
    </div>
    <div class="form">
      <div class="container4">
        <div class="title9">Adicionar Exercício</div>
      </div>
      <div class="list3">
        <div class="row2">
          <div class="input">
            <div class="title10">Nome do Exercício</div>
            <div class="textfield">
              <div class="text">Digite o nome</div>
            </div>
          </div>
          <div class="input">
            <div class="title10">Tipo de Exercício</div>
            <div class="textfield">
              <div class="text">Selecione o tipo do exercício aqui...</div>
            </div>
          </div>
        </div>
        <div class="row2">
          <div class="input">
            <div class="title10">Descrição</div>
            <div class="textfield">
              <div class="text">Deixe um lembrete sobre a atividade</div>
            </div>
          </div>
        </div>
        <div class="button2">
          <div class="seconday2">
            <div class="title5">Cancelar</div>
          </div>
          <div class="primary3">
            <div class="title4">Salvar Alterações</div>
          </div>
        </div>
      </div>
      <img class="vector-2004" src="../vectors/vector-2003.svg" />
    </div>
    <div class="section3">
      <div class="section4">
        <img class="vector-2005" src="../vectors/vector-2004.svg" />
        <div class="container5">
          <div class="title11">Copyright © 2024 Caminho da Memória</div>
          <div class="title12">Termos de Uso</div>
          <div class="title13">Política de Privacidade</div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>