<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/vars.css">
    <link rel="stylesheet" href="../styles/style.css">

</head>
<div class="page">
    <div class="navigation">
      <div class="tab31"><a href="index.html">Memórias</a></div>
      <div class="tab32"><a href="index.html">Exercícios</a></div>
    </div>
    <div class="tab3"><a href="../views/Login-Register.html">Registrar-se/Entrar</a></div>
    <div class="gerenciamento"><a href="../views/gerenciar-users.html">Gerenciamento</a></div>
    <img class="image-6" src="../imgs/image-60.png" />
    <div class="title"><a href="index.html">Caminho da Memória</a></div>
    <div class="tab2"><a href="index.html">Contato</a></div>
    <div class="section">
      <div class="image-container">
        <div class="image">
          <div class="title2">
            Seja bem-vindo ao Sistema de Gerenciamento de Cuidadores
          </div>
          <div class="pagination">
            <div class="rectangle-3343"></div>
            <div class="rectangle-3344"></div>
            <div class="rectangle-3347"></div>
            <div class="rectangle-3340"></div>
          </div>
        </div>
      </div>
      <img class="vector-200" src="../vetcors/vector-2000.svg" />
      <div
        class="conectando-cuidadores-e-fam-lias-mem-rias-e-suporte-ao-seu-alcance"
      >
        “Conectando Cuidadores e Famílias: Memórias e Suporte ao Seu Alcance”
      </div>
    </div>
    <div class="contents">
      <div class="container">
        <div class="title3">Seção de Boas-Vindas</div>
        <div class="description">
          Conheça as funcionalidades do sistema de gerenciamento. Navegue e
          descubra o que temos para oferecer!
        </div>
        <div class="button">
          <div class="primary">
            <div class="title4">Ler Mais</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="article">
          <div class="image-container2">
            <div class="image2"></div>
          </div>
          <img
            class="logoo-removebg-preview-1"
            src="../imgs/logoo-removebg-preview-10.png"
          />
          <div class="frame-427318906">
            <div class="title5">Caminho da Memória</div>
            <div class="subtitle">
              Nosso objetivo é proporcionar uma plataforma fácil e acessível que
              permita cuidadores e familiares gerenciar informações essenciais de
              forma prática, centralizando o controle de memórias, usuários e
              exercícios cognitivos, promovendo assim um suporte mais eficaz e uma
              melhor qualidade de vida para os usuários.
            </div>
            <div class="selection">
              <div class="label-normal"></div>
            </div>
          </div>
        </div>
      </div>
      <img class="vector-2002" src="../vectors/vector-2001.svg" />
    </div>
    <div class="list">
      <div class="container2">
        <div class="title6">Atalhos Rápidos</div>
      </div>
      <div class="list2">
        <div class="row2">
          <div class="item">
            <div class="frame">
              <a href="gerenciar-users.html">
              <div class="icon">👩‍⚕️</div>
            </a>
            </div>
            <div class="frame-4273189062">
              <div class="title7"><a href="gerenciar-users.html">Gerencie Usuários</a></div>
            </div>
          </div>
          <div class="item">
            <div class="frame">
              <div class="icon">📸</div>
            </div>
            <div class="frame-4273189062">
              <div class="title7">Guarde Memórias</div>
            </div>
          </div>
          <div class="item">
            <div class="frame">
              <div class="icon">🧠</div>
            </div>
            <div class="frame-4273189062">
              <div class="title7">Pratique Exercícios</div>
            </div>
          </div>
        </div>
      </div>
      <img class="vector-2003" src="../vectors/vector-2002.svg" />
    </div>
    </div>
    <div class="section2">
      <img class="image-62" src="../imgs/image-61.png" />
      <div class="container3">
        <a href="mailto:contato@gerenciamentodecuidados.com" role="link">
          <div class="title8" role="heading" aria-level="2">Email: contato@gerenciamentodecuidados.com</div>
      </a>
        <div class="title9">
          © 2024 Caminho da Memória 
        </div>
        <div class="title21">
          <a href="index.html">Política de Privacidade</a>
        </div>
      </div>
    </div>
    <img class="logoo-removebg-preview-12" src="../imgs/logoo-removebg-preview-11.png" />
    <img class="logoo-removebg-preview-2" src="../imgs/logoo-removebg-preview-20.png" />
    <div
      class="nosso-sistema-voltado-para-pessoas-com-alzheimer-seus-familiares-e-cuidadores-ele-ajuda-a-estimular-a-mem-ria-organizar-informa-es-importantes-e-facilitar-o-cuidado-promovendo-bem-estar-e-qualidade-de-vida-no-dia-a-dia"
    >
      Nosso sistema é voltado para pessoas com Alzheimer, seus familiares e
      cuidadores. Ele ajuda a estimular a memória, organizar informações
      importantes e facilitar o cuidado, promovendo bem-estar e qualidade de vida
      no dia a dia.
    </div>
  </div>
 </html> 
  